.row1 a
{
	font-size: 12.5px;
}
h1
{
	font-size: 21px;
}
div.row2
{
	height: 185px;
}
.slider img
{
	max-height: 150px;
}
h2
{
	font-size: 15px;
}
.b1
{
	font-size: 17px;
}
h3
{
	font-size: 18px;
}
.b2
{
	height: 380px;
}
.b22
{
	margin-top: 13px;
	height: 85px;
}
.b222 img
{
	max-height: 55px;
}
h4
{
	font-size: 13px;
}
.b3
{
	height: 120px;
}
.b4
{
	height: 250px;
}
.b41
{
	margin-bottom: -20px;
}
.b421
{
	font-size: 10px;
}
h5
{
	font-size: 12px;
}
.obj
{
	font-size: 13px;
}