.row1 a
{
	font-size: 17px;
}
h1
{
	font-size: 25px;
}
div.row2
{
	height: 220px;
}
.slider img
{
	max-height: 180px;
}
h2
{
	font-size: 17px;
}
.b1
{
	font-size: 19px;
	max-height: 140px;
}
h3
{
	font-size: 21px;
}
.b2
{
	height: 420px;
}
.b22
{
	margin-top: 14px;
	height: 93px;
}
.b222 img
{
	max-height: 55px;
}
h4
{
	font-size: 18px;
}
.b3
{
	height: 120px;
}
.b3 a 
{
	font-size: 14px;
}
.b4
{
	height: 290px;
}
.b41
{
	margin-bottom: -20px;
}
.b421
{
	font-size: 12px;
}
h5
{
	font-size: 13px;
}
.obj
{
	font-size: 15px;
	max-height: 150px;
}