body
{
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
a
{
	font-size: 20px;
}
h1
{
	font-size: 30px;
}
div.row2
{
	height: 280px;
}
.slider img
{
	max-height: 230px;
}
.b1,.b2
{
	height: 260px;
}
.b3,.b4,.b9
{
	height: 350px;
}
.b5
{
	height: 160px;
}
.b6
{
	height: 185px;
}
.b7,.b8
{
	height: 172.5px;
}
h2
{
	font-size: 20px;
}