a
{
	font-size: 15px;
}
h1
{
	font-size: 25px;
}
div.row2
{
	height: 220px;
}
.slider img
{
	max-height: 180px;
}
.b1,.b2
{
	height: 230px;
}
.b3,.b4,.b9
{
	height: 280px;
}
.b5
{
	height: 125px;
}
.b6
{
	height: 150px;
}
.b7,.b8
{
	height: 137.5px;
}
h2
{
	font-size: 17px;
}