a
{
	font-size: 12.5px;
}
h1
{
	font-size: 21px;
}
div.row2
{
	height: 185px;
}
.slider img
{
	max-height: 150px;
}
.b1,.b2
{
	height: 160px;
}
.b3,.b4,.b9
{
	height: 210px;
}
.b5
{
	height: 90px;
}
.b6
{
	height: 115px;
}
.b7,.b8
{
	height: 102.5px;
}
h2
{
	font-size: 15px;
}